@media (max-width: 1600px)
{
	html
	{
		font-size: 11px;
	}
}
@media (max-width: 1500px)
{
	html
	{
		font-size: 10.5px;
	}
}
@media (max-width: 1400px)
{
	html
	{
		font-size: 10px;
	}
}
@media (max-width: 1300px)
{
	html
	{
		font-size: 9.8px;
	}
}
@media (max-width: 1200px)
{
	html
	{
		font-size: 9.6px;
	}
}
@media (max-width: 1100px)
{
	html
	{
		font-size: 9.4px;
	}
}
@media (max-width: 1000px)
{
	html
	{
		font-size: 9.2px;
	}
}
@media (max-width: 900px)
{
	html
	{
		font-size: 9px;
	}
}
@media (max-width: 800px)
{
	html
	{
		font-size: 8px;
	}
}
@media (max-width: 700px)
{
	html
	{
		font-size: 7px;
	}
}
@media (max-width: 600px)
{
	html
	{
		font-size: 6px;
	}
}
@media (max-width: 500px)
{
	html
	{
		font-size: 8px;
	}
	.left-container
	{
		width: calc((2/12)*100%);
	}
	.left-content
	{
		width: calc((2/12)*100%);
	}
	.left-content-logo
	{
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
	}
	img.logo-md
	{
		display: none;
	}
	img.logo-sm
	{
		display: block;
	}
	.left-content .menu-link
	{
		justify-content: center;
		padding: var(--space-block);
	}
	.left-content .menu-link>.text 
	{
		display: none;
	}
	.left-content-menu
	{
		padding: 0;
	}
	.left-content-menu-login
	{
		display: none;
	}

	.main-container
	{
		width: calc((10/12)*100%);
		padding: 0;
	}

	.header-center
	{
		flex: 1 1 auto;
		padding: 0;
	}
	.header-form-search
	{
		width: auto;
		left: 50%;
		transition: width 0.2s linear;
		transform: translateX(-50%);
	}
	.header-form-search-input:focus
	{
		width: auto;
	}
	.slide-content-list
	{
		--view-item: 1;
	}
	.slide-content-item
	{
		left: 0;
	}





	.main-content-card
	{
		width: 50%;
	}


	.zingchoice-content-view
	{
		flex-direction: column;
		align-items: center;
	}
	.zingchoice-content-view-left 
	{
		width: 60%;
	}
	.zingchoice-content-view-right
	{
		width: 100%;
	}
	.zingchoice-content-menu.left
	{

	}
	.zingchoice-content-menu.right
	{
		display: none;
	}



	.footer-partner-list
	{
		--view-item: 4;
	}
	.more-dropup
	{
		right: 0;
		left: initial;
	}
	.custom-theme-content
	{
		width: 90%;
	}
	.custom-theme-content-card
	{
		width: 50%;
	}

	.menu-song-container
	{
		width: 80%;
	}
	.audio-control-left
	{
		width: calc((7/12)*100%);
		padding-left: 0;
	}
	.audio-control-center
	{
		width: calc((5/12)*100%);
	}
	.audio-control-right
	{
		display: none;
	}
}
@media (max-width: 400px)
{
	html
	{
		font-size: 7.5px;
	}
}

@media (max-width: 300px)
{
	html
	{
		font-size: 7px;
	}
}
/*
@media (max-width: 200px)
{
	html
	{
		font-size: 2px;
	}
}
@media (max-width: 100px)
{
	html
	{
		font-size: 1px;
	}
}